/*Group members
Hung Man Kei   (1155127099)	 Ng Megan Hoi Ling (1155124894)
Ching Sze Yuen (1155126621)  Tsai Kwun Ki      (1155126289)*/

.addmodal-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 35px;
}


.addmodal-input-container{
  display: flex;
  align-items: center;
  width: 90%;
  height: 40px;
  border-radius: 2px;
  border: 1px solid #1f6332;
  font-size: 18px;
  margin: 10px 0 0 0;
}
.addmodal-title-container{
  font-size: 12px;
  color: #444444;
  letter-spacing: 0.5px;
  margin: 22px 0 0 0;
  font-weight: 700;
  padding-left: 10px;
}

.addmodal-input{
  width: 80%;
  height: 100%;
  border: 0px;
  padding-left: 10px;
  margin-right: 15px;
  font-size: 12px;
}

.addmodal-english-title{
  margin: 0 0 0 5px;
}


.addmodal-subtitle-container{
  padding-left: 10px;
  font-size: 12px;
  color: #a8a8a8;
  letter-spacing: 0.5px;
  margin: 22px 0 0 0;
}

.addmodal-button-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 50px;
  margin: 20px 0;
}

.addmodal-button{
  display: flex;
  justify-content: center;
  align-items: baseline;
  font-size: 14px;
  margin: 0 0 0 25px;
  padding: 12px 10px 0 10px;
  height: 45px;
  width: 220px;
  color: #ffffff;
  background: #1F6332;
  border-radius: 5px;
  overflow-wrap: break-word;
}


.addmodal-reminder-container{
  font-size: 12px;
  width: 392px;
  margin: 12px 0 15px 0;
  color: #a8a8a8;;
}

.addmodal-chinese-reminder{
  font-weight: 700;
}

.addmodal-english-reminder{
  margin-top: 5px;
}